.resume {
  display: block;
  margin-bottom: 5em;
  width: 100%;
  float: left; }
  .resume .work-img {
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    display: table;
    text-align: center;
    text-decoration: none; }
    .resume .work-img .display-t {
      display: table-cell;
      vertical-align: middle;
      height: 700px;
      position: relative;
      z-index: 0; }
      .resume .work-img .display-t:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
        opacity: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .resume .work-img .display-t .work-name {
        display: inline-block;
        padding: 4em 3em;
        background: #fff;
        -webkit-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -ms-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        -o-box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
        z-index: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .resume .work-img .display-t .work-name h2 {
          margin: 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
    .resume .work-img:hover .display-t:after {
      opacity: 1; }
    .resume .work-img:hover .display-t .work-name {
      padding: 4.5em 3.5em; }
      .resume .work-img:hover .display-t .work-name h2 {
        font-size: 34px; }
    @media screen and (max-width: 768px) {
      .resume .work-img {
        height: 400px; }
        .resume .work-img .display-t {
          height: 400px; } }
  .resume .desc .read {
    text-align: right; }
    .resume .desc .read a {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      position: relative; }
      .resume .desc .read a:after {
        position: absolute;
        top: 7px;
        left: -60px;
        right: 0;
        content: '';
        width: 40px;
        height: 1px;
        background: #000; }